.titulo {
  margin: 50px 0;
  font-size: 3rem;
  margin-left: 2%;
  color: #ffffff;
}

.vehiculos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 0 16px;
}

.vehiculo-card {
  background-color: #000000;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(255, 0, 0, 0.1);
  width: 500px;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 24px;
}

.vehiculo-card:hover {
  transform: scale(1.03);
}

.vehiculo-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-color: #eaeaea;
}

.sin-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}

.vehiculo-body {
  padding: 16px;
}

.vehiculo-body h5 {
  margin-bottom: 10px;
  color: #ffffff;
}

.vehiculo-body p {
  margin: 6px 0;
  color: #ffffff;
}

.precio {
  font-weight: bold;
  color: #d9534f;
}

.btn-seleccionar {
  margin-top: 12px;
  background-color: #d9534f;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-seleccionar:hover {
  background-color: #c9302c;
}

.precio-boton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.precio-boton p {
  margin: 0;
  font-weight: bold;
}

.btn-seleccionar {
  margin-top: 12px;
  background-color: #d9534f;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-seleccionar:hover {
  background-color: #c9302c; /* color un poco más oscuro al pasar el mouse */
}