.form-card {
  background-color: #111;     /* fondo oscuro */
  border: 2px solid white;    /* borde blanco */
  border-radius: 10px;
  padding: 50px;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  margin-left: 0;
}

.contenedor-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap; /* para que en pantallas pequeñas se acomode uno abajo del otro */
}

.izquierda {
  flex: 1;
  max-width: 1200px;
}

.derecha {
  flex: 1;
  max-width: 400px;
  background-color: #ff0000;
  color: white;
  padding: 20px;
  border-radius: 15px;
}