.input-grande {
  height: 4rem !important;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
}

.col-custom-1-5 {
  flex: 0 0 auto;
  width: 12.5% !important; /* 1.5 de 12 columnas = 12.5% */
}

/* en tu archivo .css */
.form-center {
  margin-top: 200px;
}

.btn-lg-custom {
  padding: 1rem 2rem; /* ejemplo para más padding */
  font-size: 1.25rem;
}